{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <article>

        <h1>Min me-sida i kursen Objektorienterade webbteknologier</h1>

        <p>Hej, </p>

        <p>Mitt namn är Kalle Lodin. Bor i Borås, ca 40min öst om Göteborg. </p>
        <p>Jag har varit servitör, fritidsledare (timvikarie), kundserviceagent och lagerarbetare.</p>

        <p>Datorer och teknik har varit mitt stora intresse så länge jag kan minnas så tänkte dags att testa webbprogrammering.</p>
        <p>Förutom det så gillar jag och spela brädspel, laga mat och bara hänga med kompisar.</p>


    </article>
{% endblock %}
