{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
<article>
    <h1>Redovisning av kursmoment i kursen Objektorienterade webbteknologier</h1>

    <section>
    <h2>Kmom01</h2>
    <p>
        Jag har tidigare studerat objektorientering under min utbildning och har erfarenhet av att arbeta med objektorienterad programmering i Python och lite C#.
        <br><br>
        PHPs modell för klasser och objekt liknar mycket det som används i andra objektorienterade språk, såsom Python och C#.
        För att komma igång och skapa sina första klasser i PHP behöver man förstå begrepp som egenskaper, metoder, inkapsling och arv.
        <br><br>
        Kodbasen för uppgiften me/report var relativt enkel och följde en MVC-struktur med Twig som template engine.
        Strukturen var logiskt uppdelad i separata mappar för modeller, vyer och kontroller.
        <br><br>
        Artikeln "PHP The Right Way" ger en bra överblick över hur man kan arbeta med PHP på ett professionellt sätt.
        Jag tycker särskilt att delarna om felhantering, databasåtkomst och pakethantering är intressanta och värdefulla.
        Jag skulle vilja fördjupa mig mer inom dessa områden för att kunna förbättra mina kunskaper inom PHP.
        <br><br>
        Min TIL för detta kmom är hur man kan använda Symfony och Twig tillsammans för att skapa webbapplikationer med PHP.
    </p>
    </section>

    <section>
    <h2>Kmom02</h2>
    <p>
    </p>
    </section>

    <section>
    <h2>Kmom03</h2>
    <p>
    </p>
    </section>

    <section>
    <h2>Kmom04</h2>
    <p>
    </p>
    </section>

    <section>
    <h2>Kmom05</h2>
    <p>
    </p>
    </section>

    <section>
    <h2>Kmom06</h2>
    <p>
    </p>
    </section>

    <section>
    <h2>Kmom07-10</h2>
    <p>
    </p>
    </section>
{% endblock %}
