{% extends 'base_proj.html.twig' %}

{% block title %}MVC Project{% endblock %}

{% block main %}
    <div class="proj-container-about">
        <h3 class="h-about-proj">About the project</h3>
        <div class="About-proj">
            <p> This project is a Texas Hold'em Poker game. You are playing against 2 npc players. </p>
            <p> You will play against Matt and Steve. One is playing randomly and the other I tried to make him play with stragegy. </p>
            <p> You can play as many games as you want. </p>
            <p> You can continue your last <a href="/proj/play">game</a> here or start a <a href="/proj/newgame">new game </a>here
            <p> Good luck! </p>
        </div>
    </div>
{% endblock %}
