{% extends 'base_proj.html.twig' %}

{% block title %}MVC Project{% endblock %}

{% block main %}
    <div class="p-container-about">
        <h3 class="h-about-p">About the project</h3>
        <div class="About-p">
            <p> This project is a <a class="texas">Texas Hold'em Poker</a> game.</p>
            <p> You are playing against 2 npc players. You will play against Matt and Steve. One is playing randomly and the other I tried to make him play with strategy. </p>
            <p> You can play as many games as you want. </p>
            <p> You can start a game <a href="{{ path('proj_buy_in') }}">here </a> or click <a href="{{ path('proj_clear_session') }}">here</a> to reset the game. </p>
            <p> Good luck! </p>
        </div>
    </div>
{% endblock %}
