<div class="player-container">
    <div class="player-head">
        <p class="underline">{{ player.name }}</p>
        <p class="smaller">${{ player.chips }}</p>
        <p class="smaller"> {{ player.handValue }}</p>
    </div>
    <div class="p-card-container">
        {% for card in player.hand.getCardsAsArrayProj %}
            <img class="hand-card" src="{{ asset('images/proj/cards/' ~ card ~ '.png') }}">
        {% endfor %}
    </div>
</div>
