{% extends "base_proj.html.twig" %}

{% block title %}MVC Project{% endblock %}

{% block main %}
<div class="outer-container-flop">
    <div class="p-container-flop">
    </div>
    {% for player in playerQueue %}
        {% if player.isHuman %}
            {% include 'proj/player.html.twig' %}
        {% else %}
            {% include 'proj/npc.html.twig' %}
        {% endif %}
    {% endfor %}
    <div class="p-container-table">
        <div class="table-cards">
            {% for card in tableCards %}
                <img class="table-card" src="{{ asset('images/proj/cards/' ~ card ~ '.png') }}">
            {% endfor %}
        </div>
    </div>
    <div class="p-pot-container">
        <p class="pot-size">Pott: ${{ pot }}</p>
    </div>
    {% include 'proj/controls.html.twig' %}
</div>
{% endblock %}