* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    background-color: $primary-color;
    color: $text-color;
    font-size: $base-font-size;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
