{% extends 'base.html.twig' %}

{% block title %}Card App{% endblock %}

{% block body %}
<h1>Card App</h1>

<ul>
    <li><a href="{{ path('card_deck') }}">Display sorted deck of cards</a></li>
    <li><a href="{{ path('card_deck_shuffle') }}">Shuffle and display deck of cards</a></li>
    <li><a href="{{ path('card_deck_draw', {'count': 1}) }}">Draw a card from the deck</a></li>
    <li><a href="{{ path('card_draw_many') }}">Draw multiple cards from the deck</a></li>
</ul>

{% endblock %}
